.blog-entry.clearfix{ data: { container_for: blog_path(blog_entry) } }
  .published-at-oneline
    = blog_entry.published_at.strftime '%d %b %Y at %I:%M%p'
  .published-at
    .day
      = blog_entry.published_at.strftime '%d'
    .month
      = blog_entry.published_at.strftime '%b'
    .year
      = blog_entry.published_at.strftime '%Y'
    .comments
      = link_to 'Comments', "#{blog_path(blog_entry)}#disqus_thread",
        data: { disqus_identifier: "entry-#{blog_entry.id}" }

  .entry
    %h2.title
      = link_to blog_entry.title, blog_path(blog_entry)
    - if truncated
      .body.excerpt
        = raw markdown_to_html(truncate(blog_entry.body, length: 200, separator: ' '))
        = link_to blog_path(blog_entry), class: 'see-more ajax' do
          Read full post
    - else
      .body= markdown_to_html(blog_entry.body).html_safe
      %hr
      #disqus_thread
      :javascript
        var disqus_shortname = 'codevalleycode';
        var disqus_identifier = 'entry-#{blog_entry.id}';
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
