.blog-entry.clearfix{ data: { container_for: blog_path(blog_entry) } }
  .published-at-oneline
    = blog_entry.published_at.strftime '%d %b %Y at %I:%M%p'
  .published-at
    .day
      = blog_entry.published_at.strftime '%d'
    .month
      = blog_entry.published_at.strftime '%b'
    .year
      = blog_entry.published_at.strftime '%Y'
    .comments
      = link_to 'Comments', "#{blog_path(blog_entry)}#disqus_thread",
        data: { disqus_identifier: "entry-#{blog_entry.id}" }

  .entry
    %h2{ class: "title truncated-#{truncated}" }
      = link_to blog_entry.title, blog_path(blog_entry)
    - if truncated
      .body.excerpt
        %p
          = raw truncate(strip_tags(markdown_to_html(blog_entry.body)), length: 400, separator: ' ')
        = link_to blog_path(blog_entry), class: 'see-more ajax btn btn-info' do
          Read full post
    - else
      .body= markdown_to_html(blog_entry.body).html_safe
      = render 'disqus_thread', thread_id: "entry-#{blog_entry.id}"
