!!! html5
%html
  %head
    %title Cole Valley Code
    = stylesheet_link_tag 'application', media: 'all'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ property: 'og:title', content: @og[:title] }
    %meta{ property: 'og:type', content: @og[:type] }
    %meta{ property: 'og:url', content: @og[:url] }
    %meta{ property: 'og:description', content: @og[:description] }
    %link{ rel: 'shortcut icon', href: asset_path('blobs.png') }
    = csrf_meta_tags
  %body
    .top
      .inner
        %h1.header
          = link_to 'Cole Valley Code', root_path
        .tagline
          .line
          %p
            This memo board is
            = link_to 'open source', 'https://github.com/henricpersson/md-blog'
            and has an open mind.
    .middle
      = yield
    .footer
      - if session[:admin]
        = link_to 'Log out', '/session/logout'
        |
        = link_to 'Admin', blog_entries_path
      - else
        = link_to 'Log in', '/auth/google_oauth2'


:javascript
  var disqus_shortname = 'codevalleycode';

  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38451841-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
