!!! html5
%html
  %head
    %title MdBlog
    = stylesheet_link_tag 'application', media: 'all'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .top
      .inner.clearfix
        .left
          = link_to '', root_path, class: 'logo'
        .middle
          %h1.header
            = link_to 'Cole Valley Code', root_path
          %p.tagline
            This memo board is open source and has an open mind.
    = yield
    .footer
      = link_to 'Log in', '/auth/google_oauth2'
      - if session[:admin]
        = link_to 'Log out', '/session/logout'
        = link_to 'Admin', blog_entries_path
